.new-expense{
    background-color: #3f4b48;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px black;
}

.new-expense button{
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid rgb(3, 51, 3);
    background-color: #888b88;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
    
}

.new-expense button:hover,
.new-expense button:active{
    background-color: rgb(114, 18, 77);
    border-color: rgb(22, 31, 22);
}

.new-expense button.alternative{
    color: black;
    border-color: transparent;
    background-color: transparent;
}
